@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

.dark body {
  background-color: #333;
}

body {
  background-color: #faf7ed;
  margin: auto;
  font-family: "Courier Prime", serif;
}

a:visited {
  color: white;
}

.navdiv {
  font-family: "Playfair Display", serif;
  padding: 1em;
}

@media (max-width: 600px) {
  .navdiv h1 {
    font-size: 1em;
    font-weight: 800;
  }

  .navdiv h2 {
    font-size: 0.7em;
    font-weight: 700;
  }

  .navdiv nav {
    font-size: 0.7em;
    display: block;
    position: relative;
  }

  .navdiv p {
    font-size: 0.9em;
    position: absolute;
    bottom: -10;
    right: 0;
    margin: 5px 0;
  }

  .bookcards {
    display: flex;
    flex-direction: column;
  }

  .bookcards p {
    font-size: 0.8em;
  }

  .categorymaindiv {
    margin-left: 4px;
  }

  .selectdiv {
    font-size: 0.8em;
  }
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
